* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* background-image: linear-gradient(#fcdfffff, #dffbffff, #dffbffff); */
  background-image: linear-gradient(
    rgb(223, 255, 243),
    rgb(255, 223, 247),
    rgb(248, 223, 255)
  );
  height: 840px;
  width: 100%;
}
hr {
  width: 1500px;
  margin-top: -20px !important;
}
i {
  cursor: pointer;
}

a {
  text-decoration: none !important;
  color: rgb(38, 0, 70);
}
#logo {
  /* background-color: rgba(0, 4, 231, 0.2); */
  height: 100px;
}

#search_bar {
  /* background-color: rgba(0, 231, 69, 0.377); */
}

#account {
  /* background-color: rgb(15, 0, 231); */
}

#features {
  /* background-color: rgb(231, 0, 173); */
  height: 90vh;
}

#deck_list {
  /* background-color: rgb(231, 216, 0); */
}
#features_heading {
  /* background-color: rgb(0, 223, 231); */
  height: 40px;
}
#deck_title {
  /* background-color: rgb(255, 102, 0); */
  height: 40px;
}

#logo_img {
  margin-left: 100px;
  margin-top: -30px;
  width: 160px;
}

#search_box {
  background-color: #fff;
  margin-top: 10px;
  width: 900px;
  height: 50px;
  border-radius: 10px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.199);
}

#search_box p {
  font-size: 30px;
  font-weight: 50;
  color: rgba(0, 0, 0, 0.308);
  margin-left: 300px;
  padding-top: 5px;
}
#account_box {
  background-color: #fff;
  margin-top: 10px;
  width: 100px;
  height: 50px;
  border-radius: 10px;
  font-weight: 200;
  font-size: 30px;
  padding-top: 2px;
  padding-left: 37px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.199);
}

#features_box {
  width: 150px;
  height: 700px;
  margin-top: -5px;
  margin-left: 50px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.199);
}
#deck_box {
  width: 1340px;
  height: 700px;
  margin-top: -5px;
  margin-left: -180px;
  padding-top: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.199);
  overflow: auto;
}

#status_box {
  width: 200px;
  height: 50px;
  margin-top: 10px;
  margin-left: 30px;
  padding-left: 20px;
  padding-top: 8px;
  font-size: 22px;
  font-weight: 200;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.199);
}
#status_box i {
  color: rgb(66, 66, 66);
}
#account_box {
  width: 100px;
  height: 50px;
  margin-top: 10px;
  margin-left: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.199);
}
#features_title {
  border-bottom: 1px solid rgba(53, 53, 53, 0.212);
  margin-left: 5px;
  margin-right: 5px;
  padding-top: 7px;
  height: 50px;
}
#features_title p {
  font-size: 20px;
  font-weight: 100;
  margin-top: 5px;
}
#features_cont {
  padding-left: 20px;
  width: 240px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.features_cont_acc i {
  /* margin-right: 1px; */
  width: 40px;
  color: rgb(16, 141, 0);
}
#features_cont i {
  margin-right: 22px;
  color: rgb(78, 0, 141);
}
#deck_add_btn {
  margin-top: 10px;
}

#deck_box p {
  font-size: 30px;
  font-weight: 100;
  margin-top: 0px !important;
  margin-bottom: -10px;
}

#deck_box hr {
  width: 1100px;
}

#main_deck_cont {
  background-color: rgb(255, 255, 255);
  height: 60px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 2px 5px rgba(61, 61, 61, 0.242);
  border-left: 5px solid rgba(109, 211, 62, 0.521);
  margin-bottom: 20px;
}

#main_deck_cont p {
  font-size: 30px;
  font-weight: 100;
  margin-top: 7px !important;
}
#deck_features_s p {
  border-radius: 50%;
  background-color: rgba(196, 196, 196, 0.582);
  width: 50px;
  height: 50px;
  padding-left: 0px;
  padding-top: 7px;
  font-size: 20px;
  text-align: center;
}

#deck_features {
  padding-top: 10px;
  padding: 10px;
  margin-top: 7px;
  margin-bottom: 5px;
  padding-right: 40px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 5px rgb(160, 160, 160);
  width: 45px;
  height: 47px;
  margin-left: 30px;
  border-radius: 50%;
  cursor: pointer;
  transition-duration: 0.5s;
}

#deck_features_d {
  padding-top: 10px;
  padding: 10px;
  margin-top: 7px;
  margin-bottom: 5px;
  padding-right: 40px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 5px rgb(160, 160, 160);
  width: 45px;
  height: 47px;
  margin-left: 30px;
  border-radius: 50%;
  cursor: pointer;
  transition-duration: 0.5s;
}

#deck_features_d:hover {
  background-color: rgb(233, 233, 233);
}

#deck_features:hover {
  background-color: rgb(233, 233, 233);
}
#main_deck_cont i {
  color: rgb(30, 0, 112);
  padding-left: 10px;
  padding-right: 25px;
  padding-top: 10px;
  padding-top: 10px !important;
  size: 50px 50px !important;
}

.features_item {
  background-color: rgba(243, 243, 243, 0.5);
  padding-left: 15px;
  padding-top: 10px;
  font-size: 20px;
  font-weight: 300;
  /* border: 1px solid rgb(165, 165, 165); */
  border-radius: 40px;
  width: 100px;
  height: 50px;
  margin-left: 0px;
  margin-top: 10px;
  margin-bottom: 5px;
  box-shadow: 0px 2px 4px rgba(78, 78, 78, 0.26);
}

.features_item_red {
  background-color: rgba(255, 221, 221, 0.5);
  padding-left: 15px;
  padding-top: 10px;
  font-size: 20px;
  font-weight: 300;
  /* border: 1px solid rgb(165, 165, 165); */
  border-radius: 40px;
  width: 100px;
  height: 50px;
  margin-left: 0px;
  margin-top: 10px;
  margin-bottom: 5px;
  box-shadow: 0px 2px 4px rgba(78, 78, 78, 0.26);
  cursor: pointer;
}
.features_item_blue {
  background-color: rgba(221, 251, 255, 0.5);
  padding-left: 15px;
  padding-top: 10px;
  font-size: 20px;
  font-weight: 300;
  /* border: 1px solid rgb(165, 165, 165); */
  border-radius: 40px;
  width: 100px;
  height: 50px;
  margin-left: 0px;
  margin-top: 10px;
  margin-bottom: 5px;
  box-shadow: 0px 2px 4px rgba(78, 78, 78, 0.26);
  cursor: pointer;
}
.features_item_yellow {
  background-color: rgba(248, 255, 221, 0.5);
  padding-left: 15px;
  padding-top: 10px;
  font-size: 20px;
  font-weight: 300;
  /* border: 1px solid rgb(165, 165, 165); */
  border-radius: 40px;
  width: 100px;
  height: 50px;
  margin-left: 0px;
  margin-top: 10px;
  margin-bottom: 5px;
  box-shadow: 0px 2px 4px rgba(78, 78, 78, 0.26);
  cursor: pointer;
}

#add_card_btn {
  color: rgb(102, 165, 73);
  margin-right: 10px;
}
/* ============================================================ */

#review_deck_info {
  /* background-color: rgb(203, 255, 255); */
  background-image: linear-gradient(rgb(210, 252, 255), rgb(162, 247, 253));
  margin-top: 10px;
  width: 150px;
  height: 200px;
  margin-right: 15px;
  padding-left: 20px;
  padding-top: 70px;
  font-size: 25px;
  font-weight: 200;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.3);
}

#card_review_sec {
  margin-bottom: 50px;
}

#main_card {
  position: relative;
  /* background-color: rgb(43, 255, 0); */
  background-image: linear-gradient(rgb(249, 255, 218), rgb(239, 255, 160));
  margin-top: 10px;
  width: 350px;
  margin-right: 15px;
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.3);
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

#main_card:hover {
  transform: rotateY(180deg);
}

.front {
  padding-top: 70px;
  text-align: center;
  position: absolute;
  font-size: 20px;
  font-weight: 200;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
  padding-top: 70px;
  text-align: center;
  font-size: 20px;
  font-weight: 200;
}

#review_buttons {
  /* background-color: rgb(255, 255, 255); */
  margin-top: 10px;
  width: 150px;
}
#btn-1 {
  background-color: rgb(234, 252, 184);
  background-image: linear-gradient(rgb(225, 255, 218), rgb(195, 255, 160));
  height: 63px;
  border-top-right-radius: 15px;
  margin-bottom: 5px;
  padding-left: 45px;
  padding-top: 10px;
  font-size: 30px;
  font-weight: 200;
  cursor: pointer;
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.3);
}

#btn-1:hover {
  background-image: linear-gradient(rgb(209, 253, 199), rgb(151, 228, 107));
}
#btn-2 {
  background-color: rgb(248, 220, 184);
  background-image: linear-gradient(rgb(255, 245, 218), rgb(255, 238, 160));
  height: 64px;
  margin-bottom: 5px;
  margin-bottom: 5px;
  padding-left: 25px;
  padding-top: 10px;
  font-size: 30px;
  font-weight: 200;
  cursor: pointer;
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.3);
}
#btn-2:hover {
  background-image: linear-gradient(rgb(250, 234, 190), rgb(247, 225, 129));
}
#btn-3 {
  background-color: rgb(255, 188, 188);
  background-image: linear-gradient(rgb(255, 218, 218), rgb(255, 179, 160));
  height: 64px;
  margin-bottom: 5px;
  padding-left: 45px;
  padding-top: 10px;
  font-size: 30px;
  font-weight: 200;
  border-bottom-right-radius: 15px;
  cursor: pointer;
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.3);
}
#btn-3:hover {
  background-image: linear-gradient(rgb(252, 200, 200), rgb(250, 161, 139));
}

#edit_delete {
  background-color: rgb(191, 254, 201);
  width: 100px;
  height: 30px;
  margin-left: 100px;
  margin-bottom: -10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0px 0px 5px rgba(61, 61, 61, 0.281);
  padding-left: 10px;
}

#edit {
  background-color: rgba(255, 255, 255, 0);
  color: rgb(144, 118, 0);
  padding: 5px;
  margin-left: 10px;
}

#delete_ac {
  padding: 0;
  border: none;
  background: none;
}

#model_img {
  width: 100px;
  align-items: center;
  margin-left: 170px;
}

#search_input {
  transform: translate(50px, -57px);
}
#search_input input {
  background: transparent;
  outline: none;
  border: 0;
  border-bottom: 1px solid rgb(162, 162, 162);
  text-align: center;
}
#search_input i {
  color: rgb(102, 61, 168);
}

#creator_course_box {
  background-color: rgb(247, 247, 247);
  height: 150px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.199);
}

#creators_course_title {
  font-size: 50px;
  font-weight: 300;
}
.creators_vid_stats {
  font-weight: 300;
  font-size: 100px;
}
